@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  color: white;
}


.text {
  color: blue;
  margin-left: 2rem;
}

.home-wrapper {
  width: 100%;
  height: 100vh;
  color: white;
}

.nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  height: 70px;
  margin-bottom: 2rem;
  min-height: 8vh;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  /* box-shadow: 0px -10px 20px 40px rgb(0, 0, 0); */
  z-index: 3;
  align-items: center;
  padding: 0.2rem 1rem;
  font-size: 2rem;
  color: rgb(228, 228, 228);
  $btn-size: 2.5rem;
 /*  border-bottom: 3px solid white; */

  .hoodify-logo {
    font-size: 3rem;
    margin: auto;
    font-family: 'Square Peg';
    padding-bottom: 0.5rem;
  }

  .back-btn {
    width: $btn-size;
    height: $btn-size;
    font-size: inherit;
    border: none;
    background: none;
    margin: auto 0;
  }

  .back-btn img {
    filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(159deg) brightness(70%) contrast(105%);
  }

  .search-btn {
    width: $btn-size;
    height: $btn-size;
    font-size: inherit;
    border: none;
    background: none;
    color: inherit;
    margin: auto 0;
  }

}

.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: visible;

  .list-header {
    position: relative;
    color: white;
    text-align: center;
    font-size: clamp(2rem, 4rem, 12vw);
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    z-index: 1;
    background: none;
    

    .signature {
      position: absolute;
      z-index: -1;
      top: 100%;
      left: 60%;
      height: 50%;
      transform: translate(-50%, 0);
      filter: brightness(1);
    }
  }
  
  .product-list {
    display: block;
    margin: 6.5rem auto;
    column-count: 2;
    width: min-content;

    .product-item {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-bottom: 2rem;
      transition-duration: 300ms;
      cursor: pointer;
      will-change: transform;
      transform: translateZ(0px);
    }

    .product-item:hover {
      transform: translateY(-5px);
    }

    .product-item:nth-child(1) {
      margin-top: -2.5rem;
    }
    .image-wrapper {
      position: relative;
      display: flex;
      width: 42.5vw;
      height: calc(42.5vw * 1.5);
      color: white;
      background-color: grey;
      border-radius: 40px;
      overflow: hidden;
    }

    .product-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .like-btn {
      display: flex;
      position: absolute;
      top: 7%;
      left: 7%;
      color: white;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.2rem;
      box-sizing: border-box;
      text-align: center;
      background-color: rgb(0, 0, 0);
      object-fit: cover;

      .like-btn-svg {
        filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(159deg) brightness(70%) contrast(105%);
        margin: auto;
        object-fit: cover;
        height: 80%;
        width: 80%;
      }
    }

    .like-btn:hover .like-btn-svg {
      filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(159deg) brightness(105%) contrast(105%);
    }
    
    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.15rem;
      width: fit-content;
      margin: 0.7rem auto;
      padding: 0 4vw;
    }
    .product-name {
      color: white;
      display: inline-block;
      font-size: 1rem;
      line-height: 1.1rem;
      font-weight: 700;
    }
    .product-brand {
      font-size: 0.7rem;
      display: block;
      color: rgb(127, 127, 127);
    }
    .product-price {
      display: inline-block;
      color: rgb(255, 234, 44);
      
    }
  }
}

@media only screen and (min-width: 650px) {
  .product-list {
    width: 100% !important;
    display: flex !important;
    justify-content: center;
    height: fit-content;
    margin: auto;
    column-count: auto !important;
    flex-wrap: wrap;
    gap: 1rem;
    /* column-count: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto, 1fr); */

    .product-item {
      width: fit-content;
      margin: 0;
      .image-wrapper {
        width: auto;
        max-width: 250px;
        height: auto;
        margin: 0 auto;
      }

      .text-wrapper {
        width: 80%;
        margin: 1rem auto;
        padding: 0;
      }
    }

    .product-item:nth-child(1) {
      margin: 0 !important;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .product-list {
    gap: 2rem;

    .text-wrapper {
      font-size: 1rem;
      .product-name {
        font-size: 1.2em;
      }
    }
  }

}