.shopping_cart {
    position: absolute;
    top: 100%;
    left: 0;
    height: 90vh;
    width: 100vw;
    background-color: rgb(40, 40, 40);
    color: white;
}

.item_list_wrapper {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
}

.item_wrapper {
    background-color: green;
    padding: 0.5rem;
}
